.news-app {
	display: flex;
	justify-content: center;
	min-height: 50px;
	background-image: url("./images/background.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center;
	min-height: 50vh;
}

.news-item {
	width: 300px;
	padding: 30px;
	border: 1px solid;
	margin-bottom: 20px;
	background-color: antiquewhite;
}

.news-img {
	width: 200px;
}
