.news-app {
	display: flex;
	justify-content: center;

	min-height: 50px;
}

.news-item {
	width: 300px;
	padding: 30px;
	border: 1px solid;
	margin-bottom: 20px;
	background-color: antiquewhite;
}

.news-img {
	width: 200px;
}
